@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap|100,200,300,400,500,600,700');

/*-----------------------------------------------------------------------/


/*-----------------------------------------------------------------------------Section search*/
.section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}

section-follow .fa-4x {
    margin: 5px 10px;
}

logo {
    float: left !important;
}

.img {
    padding: 0 !important;
    margin: 0 !important;
    width: 360px !important;
    height: 400px !important;

}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="col-"] {
        width: 100% !important;
    }
}

/*--------------------------------------------------------------------------------------media/